<div class="block-design" style="width: 100%;height: 100%;position:relative">
    <div class="split-pane vertical-percent" style="width: 100%;height: 100%;">
        <div class="west-panel split-pane-component tree-panel">
            <div class="split-pane horizontal-percent">
                <div class="split-pane-component block-tree">
                </div>
                <div class="split-pane-divider divider-left-center-bottom"></div>
                <div class="split-pane-component  ds-tree">
                    <button class="btn btn-danger btnSelectDs">选择数据表</button>
                </div>
            </div>

        </div>
        <div class="split-pane-divider  divider-west-center">

        </div>

        <div class="split-pane-component center-and-east-container">

            <div class="split-pane vertical-percent " style="width: 100%;height: 100%">
                <div class="split-pane-component center-south-container">

                    <div class="split-pane horizontal-percent">
                        <div class="split-pane-component design-form ">
                        </div>
                        <div class="split-pane-divider divider-center-bottom"></div>
                        <div class="split-pane-component center-container form-attr">
                        </div>
                    </div>
                </div>
                <div class="split-pane-divider divider-center-east"></div>
                <div class="split-pane-component east-container col-attr">
                </div>
            </div>
        </div>
    </div>
</div>
