.block-design .divider-west-center {
    right: 80%;
    width: 5px;
}

.block-design .center-and-east-container {
    width: 80%;
}

.split-pane.vertical-percent > .split-pane-component:first-child.west-panel {
    right: 80%;
}

.block-design .split-pane.vertical-percent > .split-pane-component:first-child.center-south-container {
    right: 20%;
    margin-right: 5px;
}

.block-design .divider-center-east {
    right: 20%;
    width: 5px;
}

.design-panel.dm-form .form-body {
    overflow: hidden;
}

.block-design .east-container {
    width: 20%;
}

.block-design .divider-center-bottom {
    bottom: 20%;
    height: 5px;
}


.block-design .center-container {
    height: 20%;
}

.block-design .divider-left-center-bottom {
    bottom: 50%;
    height: 5px;
}

.block-design .ds-tree {
    height: 50%;
}

.split-pane.horizontal-percent > .split-pane-component:first-child.block-tree {
    bottom: 50%;
    margin-bottom: 5px;
    min-height: 5em;
}

.split-pane.horizontal-percent > .split-pane-component:first-child.design-form {
    bottom: 20%;
    margin-bottom: 5px;
    min-height: 5em;
}

.design-component {
    padding: 0px !important;
    position: relative;
}

.design-component .masker {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    left: 0px;
    top: -1px;
}

.design-component .masker:hover {
    border: solid 1px #ff680b;
    border-radius: 5px;
}

.masker .close-button {
    color: red;
    cursor: default;
}

.form-body .design-component .masker.active {
    border: solid 1px green;
    border-radius: 5px;
}

.fix-position .design-component .masker {
    border: dashed 1px darkgray;
    border-radius: 5px;
}

.split-pane.vertical-percent > .split-pane-component:first-child.component-tree {
    right: 80%;
    margin-right: 5px;
}

.design-panel .design-body {
    width: 80%;
}

.design-panel .divider-left-right {
    right: 80%;
    width: 5px;
}

th.selected {
    background-color: #5cb112;
}

.fix-position {
    position: absolute;
}

.design-panel .form-body {
    border: dashed darkgray 1px;
}

.block-design .js-tree{

    height: calc(100% - 54px);
}

