<div class="dm-form design-panel " role="form" style="width:100%;height:100%;overflow-y: auto;">
    <div class="split-pane vertical-percent " style="width: 100%;height: 100%">
        <div class="split-pane-component component-tree">
        </div>
        <div class="split-pane-divider divider-left-right"></div>
        <div class="split-pane-component design-body droppable" >
            <div class="form-head row hidden">
                <div class="form-title"></div>
                <div class="close-button">&times;</div>
            </div>
            <div class="form-body row autofit "></div>
        </div>
    </div>


</div>
