<div class="full-display login-ui">


    <div class="login-panel ">
        <section class="content">
            <div class="content-body">
                <div class="components form" style="display: block">
                    <div class="content-header clearfix">
                        <div class="avatar"></div>
                    </div>
                    <form>
                        <div class="inputs">
                            <label for="username">用户名</label>
                            <input type="text" name="username" id="username" required="true" placeholder="请输入用户名">
                        </div>
                        <div class="inputs">
                            <label for="password">密码</label>
                            <input type="password" name="password" id="password" required="true" placeholder="请输入密码">
                        </div>
                        <div class="inputs-check row">
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            <label for="rememberMe">&nbsp;&nbsp;记住密码</label>
                        </div>
                        <button class="btn btn-primary btn-login">登&nbsp;录</button>
                    </form>

                </div>
            </div>
        </section>
    </div>
    <canvas class="stars"></canvas>
</div>
