<div class="tables_panel" style="width: 100%;height: 100%;position:relative">
    <div class="split-pane vertical-percent" style="width: 100%;height: 100%">
        <div class="split-pane-component" id="left-component">

            <div class="split-pane horizontal-percent">
                <div class="split-pane-component" id="schema-component">


                </div>
                <div class="split-pane-divider" id="horizontal-divider"></div>
                <div class="split-pane-component" id="tap-component">

                </div>

            </div>
        </div>
        <div class="split-pane-divider" id="my-divider"></div>
        <div class="split-pane-component" id="attr-component">
        </div>
    </div>
</div>
