<div class="table-view">
    <div class="table-head">
        <div class="badge">
            T
        </div>
        <div class="table-title">
            edee这是标题we
        </div>
        <div class="close-button">&times;</div>
        <div class="clearfix"></div>
    </div>
    <div class="table-body ">
        <ul class="list-group draglist" data-groupid="gid-2">
        </ul>
    </div>
    <div class="shrink-spot fa fa-arrow-circle-up"></div>
    <div class="resize-spot fa fa-arrows-h"></div>
</div>
