.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view.panel-info {
    font-size: 1em;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqfoot.ui-row-ltr > td, .ui-jqgrid.ui-jqgrid-bootstrap tr.jqgfirstrow > td,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgroup.ui-row-ltr > td, .ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td {
    padding: .2em .3em;
    padding-top: 0.4em;
    padding-right: 0.6em;
    padding-bottom: 0.4em;
    padding-left: 0.6em;
}

.ui-jqgrid tr.jqfoot > td, .ui-jqgrid tr.jqgroup > td, .ui-jqgrid tr.jqgrow > td, .ui-jqgrid tr.ui-subgrid > td, .ui-jqgrid tr.ui-subtblcell > td {
    height: 32px;
}

.ui-jqgrid .frozen-bdiv {
    background-color: white;
}

.ui-jqgrid .selected {
    background-color: rgba(0, 198, 250, 0.4);
}

.ui-jqgrid .selected.active {
    background-color: rgba(0, 198, 250, 0.4);
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td.edit-cell[tabindex='0'] {
    padding: 0px;
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td.edit-cell input,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td.edit-cell select,
.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td.edit-cell textarea {
    border: 0px;
    height: 100%;
    width: 100%;
    padding-left: 0.6em;
    /*border-color: rgba(126, 239, 104, 0.8);*/
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td.edit-cell input[type = checkbox] {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    /*border-color: rgba(126, 239, 104, 0.8);*/
}

.ui-jqgrid.ui-jqgrid-bootstrap tr.jqgrow.ui-row-ltr > td.readonly_cell {
    background-color: #f5f5f5;
}

.ui-jqgrid span.table-col-button {
    margin: 1px 5px 1px;
    font-size: larger;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view span.table-col-button.fa {
    font-size: 16px;
    color: #1E90FF;
}

.ui-jqgrid.ui-jqgrid-bootstrap > .ui-jqgrid-view span.table-col-button.fa:hover {
    color: darkorange;
}

.ui-pg-table.navtable[role="toolbar"] {
    margin-right: 30px;

}

.ui-pg-table.navtable[role="toolbar"] .btn {
    color: #1E90FF;
}

/* End Eorm edit */
/*.ui-jqgrid .edit-cell {}*/
.ui-jqgrid .selected-row,
div.ui-jqgrid .selected-row td {
    font-style: normal;
    background-color: rgba(30, 144, 255, 0.2);
}

/**以下是换行显示样式 */
.auto-wrap th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 0px;
    max-height: 500px;
}

.auto-wrap .ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height: auto;
    vertical-align: text-top;
    padding-top: 2px;
    word-break: break-all;
    max-height: 500px;
}

.ui-jqgrid th {
    background-color: #0d73d7;
    color: white;

    height: 25px;
}

.ui-jqgrid .table th, .table td {
    padding: 0.3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-bottom-width: 1px;
}

.table td.ui-search-oper .btn, .table td.ui-search-clear .btn {
    color: white;
}

.table td.ui-search-oper, .table td.ui-search-input, .table td.ui-search-clear {
    border: none;
}
.table .ui-jqgrid-bootstrap-corner-bottom{
    background-color: #e5e5e5;
}
