<li role="presentation" class="nav-item dropdown open">
    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1"
       data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-green new-message-count"></span>
    </a>
    <ul class="dropdown-menu list-unstyled msg_list" role="menu"
        aria-labelledby="navbarDropdown1">
        <li class="nav-item more-message">
            <div class="text-center">
                <a class="dropdown-item">
                    <strong>查看更多信息</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>
